* {
  /*border: solid red 1px;*/
}

.octocat {
  width: 300px;
  height: auto;
  float: left;
  margin: 10px;
  border-bottom: solid lightgray 1px;

}

.octocat img {
  width: 300px;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.image-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.authors img {
  width: 18px;
  height: auto;
  border: none;

}
.authors {
  float: right;
}

.image-number {
  color: lightgray;
  font-weight: bold;
  font-size: 12px;
}

.image-caption {
  color: gray;
  float: right;
  font-size: 12px;
}

.image-caption a {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  font-size: 12px;

}

li  {
list-style: none;
}

ul {
  padding-left: 0;
}
